@{
    String model;
    ViewData["Title"] = "Home Page";
}

<img class="col-md-12" src="/css/دونده-های-کارتونی-با-لباس-های-ورزشی-مردان-و-زنان-ورزشکار-ورزشی-در-حال-دویدن-و-دویدن-روی-تصویر-برداری-آموزش-گروهی-وکتور-م.webp" />
<div>
    <div class="row">

        <p class="col-md-4 text-left">state = @Model[0] </p> <p class="col-md-4 text-center"> state = @Model[1] </p> <p class="col-md-4 text-right"> state = @Model[2]</p>
    </div>
</div>
